.brand{
    font-size: 32px;
    color: rgb(238, 255, 0);
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 25px;
    font-weight: 600;
    font-family: 'Lobster', cursive;
}

.link{
    color: white;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
}
.link:hover{
    color: black;
    text-decoration: none;
}

.time{
    color: white;
  }